<section class="relative py-20 overflow-hidden">
  <img class="absolute top-0 left-0 w-full h-full object-cover" src="https://static.shuffle.dev/uploads/files/51/5132ee41fb2975fbac51281c9bc7daf7a585a4e5/pawel-czerwinski-LSZE-N0hz3s-unsplash.jpg" alt="">
  <div class="relative container px-4 mx-auto z-10">
    <div class="max-w-xl mx-auto lg:mx-0 py-12 pl-16 pr-32 bg-white clip-path-right-top">
      <h3 class="mb-4 text-2xl font-semibold text-blue-800">We can work together</h3>
      <p class="mb-7 text-gray-500 text-base leading-relaxed">We’re all about innovation; we understand that great ideas and execution are the two essential ingredients to launching a business. If you have questions about what we do or how we do it, then call or send an email.</p>
      <a class="flex items-center text-blue-800 text-sm font-bold uppercase hover:underline" href="#">
        <spam>Write us</spam>
        <span class="ml-2">
          <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.875 0L0 1.875L4.125 6L0 10.125L1.875 12L7.875 6L1.875 0Z" fill="#3C74F9"></path>
          </svg>
        </span>
      </a>
    </div>
  </div>
</section>
