<section class="relative py-24 bg-blue-50">
  <img class="hidden lg:block absolute top-0 right-0 w-2/5 h-full object-cover clip-path-left" src="https://static.shuffle.dev/uploads/files/51/5132ee41fb2975fbac51281c9bc7daf7a585a4e5/pawel-czerwinski-Uj3S6JiXxaA-unsplash-1.jpg" alt="">
  <div class="relative container px-4 mx-auto">
    <div class="flex flex-wrap items-center -mx-4">
      <div class="w-full lg:w-1/2 px-4 mb-12 lg:mb-0">
        <div class="max-w-lg">
          <h2 class="mb-10 text-4xl font-bold font-heading text-blue-800">Let's find creative way for generating true growth of your company</h2>
          <p class="text-lg text-gray-500">Vision is an award winning Ditial Marketing and Creative Strategy agency in New York. We are passionate about making your business grow.</p>
        </div>
      </div>
      <div class="w-full lg:w-1/2 px-4">
        <div class="p-6 lg:p-16 bg-white">
          <form action="#">
            <span class="inline-block uppercase text-blue-400 font-semibold tracking-widest">Start your growth</span>
            <h3 class="mb-4 text-2xl font-bold font-heading text-blue-800">Leave us your phone </h3>
            <input class="block w-full py-4 pl-6 mb-2 text-sm placeholder-blue-400 text-blue-400 bg-blue-50" type="email" placeholder="E-mail address">
            
            
            <label class="inline-flex mb-4 text-left">
              <input class="mr-2" type="checkbox" name="terms" value="1">
              <span class="-mt-1 inline-block text-sm text-gray-500">By signing up, you agree to our <a class="text-blue-400 hover:underline" href="#">Terms, Data Policy</a> and <a class="text-blue-400 hover:underline" href="#">Cookies Policy</a>.</span>
            </label>
            <button class="w-full inline-block mb-4 py-5 text-sm text-blue-800 uppercase font-bold bg-yellow-500 hover:bg-yellow-400 transition duration-200">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
